@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../images/Pattern.png') no-repeat center center fixed;
    background-color: #1B2430;
    background-size: cover;
    font-family: "Tajawal", sans-serif;
}


.signUp {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 100vh;
    width: 100vw;
    color: white;
    padding: 0 5%;
    box-sizing: border-box; 
}

.leftSection {
    width: 35%;
    height: 90%;
    background-image: url('../../../public/images/coffe.jpg'); 
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5); 
    position: absolute;
    left: 9%;
    top: 50%;
    transform: translateY(-50%);
}


.rightSection {
    width: 50%;
    text-align: right;
    margin-left: 850px;
    margin-top: -50px;
}


.header {
    text-align: right;
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
}

.subtext {
    font-size: 16px;
    margin-bottom: 12px;
    color: #d1b57f;
}

.loginText {
    color: #d1b57f;
    cursor: pointer;
    text-decoration: underline;
}


.form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
}


.firstNameContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: right; 
}


.lastNameContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left; 
}


.firstNameContainer .label {
    text-align: right; 
    direction: rtl; 
}

.lastNameContainer .label {
    text-align: right; 
    direction: ltr; 
}


.label {
    font-size: 14px;
    color: #d1b57f;
    margin-bottom: 8px;
}

.firstNameInput {
  width: 104%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #283347;
  color: white;
  font-size: 16px;
  text-align: right;
  transition: border 0.3s ease-in-out; 
}

.smallInput, .inputField, .lastNameInput {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none; 
    background-color: #283347;
    color: white;
    font-size: 16px;
    text-align: right;
    transition: border 0.3s ease-in-out; 
}

.smallInput:focus, .inputField:focus, .firstNameInput:focus, .lastNameInput:focus {
    border: 1px solid #d1b57f; 
    outline: none; 
}

.inputField {
    padding: 16px;
}

.smallInput::placeholder, .inputField::placeholder {
    color: #b3b3b3;
}



.checkboxContainer {
display: flex;
align-items: center;
justify-content: flex-end; 
gap: 10px;
margin-top: 15px;
width: 100%;
padding-right: 10px;
}


.checkbox {
width: 18px;
height: 18px;
accent-color: #d1b57f;
margin-right: -170px;
}


.shroot {
font-size: 14px;
color: #d1b57f;
text-align: right;
white-space: nowrap; 
}


.submitButton {
    width: 109%;
    padding: 18px;
    background: linear-gradient(90deg, #e5c07b, #cfaf5d);
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-top: 20px;
}

.submitButton:hover {
    background: linear-gradient(90deg, #cfaf5d, #e5c07b);
}


.coffeeText {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #d1b57f;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Amiri', serif; 
}


.indicators {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dot, .activeDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b3b3b3;
}

.activeDot {
    background-color: #d1b57f;
}
